body{
    background-image: linear-gradient(to right, rgb(254, 232, 192), rgb(253, 253, 215));
}
#icon{
    width: 30px;
}
.btn{
    background-image: linear-gradient(to right, rgb(254, 254, 10),rgb(253, 191, 75));
}
ul li a{
    text-decoration: none;
    color: black;
}
ul li a:hover{
    color: orange;
    text-decoration: underline;
}
ul li{
    list-style: none;
}
.left-side{
    width: 90%;
}
.right-side{
    width: 90%;
}
.right-side img{
width: 350px;
margin: 0 auto;
}
